.color-card {
  margin: 0px 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 1rem;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: rgb(255, 255, 255);
  border: 1px dotted white;
  border-radius: 1rem;
}

.delete_no1 {
  background-color: rgb(114, 0, 0);
  border-radius: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.delete_no1:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}


.delete_no2 {
  background-color: rgb(114, 0, 0);
  border-radius: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.delete_no2:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}


.cancel {
  background-color: rgb(0, 100, 0);
  border-radius: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.cancel:hover {
  background-color: rgb(40, 249, 40);
  color: black;
}


.edit {
  background-color: rgb(113, 133, 0);
  border-radius: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.edit:hover {
  background-color: yellow;
  color: black;
}